$primary-color: #088f8f;
$background-primary: #fff;
$background-secondary: rgba(0, 0, 0, 0.6);
$transition: 500ms ease;

body {
    margin: 0;
    padding: 0;
    outline: 0;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

// PLAY-PAUSE BUTTONS ----->
.pausePlay {
    position: fixed;
    bottom: 1rem;
    right:  1rem;
    z-index: 2;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $background-secondary;
    border: 0;
    color: $background-primary;
}

// MAIN CONTAINER ----->

.main_container {
    width: 85vw;
    height: auto;
    position: relative;
    z-index: 1;
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15vw;
    
   

    // LEFT CONTAINER ----->
    .left_container {
        width: 35rem;
        height: auto;

        // LOGO CONTAINER ----->
        .logo_container {
            background-color: $background-primary;
            height: 10rem;
            font-size: 1.8rem;
            text-align: center;
            padding-top: 4.5rem;
            font-style: oblique;
            color: $primary-color;

            i {
                margin-right: 2rem;
            }
        }

        // CONTAINER CONTAINER ----->
        .container_container {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;

            button {
                background-color: $background-primary;
                height: 7rem;
                text-align: center;
                color: $primary-color;
                border: 0;
                

                h2 {
                    padding-top: 8px;


                    i {
                        margin-right: 1rem;
                    }

                }


                &:hover {
                    background-color: $primary-color;
                    color: $background-primary;   
                }
            }

            .active {
                background-color: $primary-color;
                color: $background-primary; 
            }
        }
    }
// END OF LEFT CONTAINER ----->
// RIGHT CONTAINER ----->
    .right_container {
        // background-color: orange;
        width: 45rem;
        height: auto;
        position: relative;

        .drink_menu {
            width: 45rem;
            height: auto;
            display: block;

            .drink_types {
                background-color: $background-secondary;
                color: $background-primary;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 5rem;

                li {
                    width: 14rem;
                    text-align: center;
    
                    a {
                        color: #fff;
                        font-size: 1.4rem;
                        transition: $transition;
                        
                        
    
                        &:hover {
                            color: $primary-color;
                            text-decoration: underline 3px $primary-color;
                        }
                    }
                    
                }
            }
              // DRINK CONTAINER ----->
              .drink_container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                

                .image {
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }

                .info {
                    margin-top: 1.8rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    .item {
                        width: 23vw;
                        height: 9vw;
                        background-color: $background-secondary;
                        color: $background-primary;
                        padding: 1rem;

                        .item_info {
                            display: flex;
                            justify-content: space-between;

                            .price {
                                color: $primary-color;
                            }
                        }

                        p {
                            margin-top: 2rem;
                        }
                    }
                }
              }
            // DRINK CONTAINER ----->
        }

        // END OF DRINK MENU ----->
        .special_items {
            width: 45rem;
            height: auto;
            background-color: #000;
            display: none;
        }

        .about {
            width: 45rem;
            height: auto;
            background-color: #088f8f;
            display: none;
        }

        .contact {
            width: 45rem;
            height: auto;
            background-color: blue;
            display: none;
        }
    }

// END OF RIGHT CONTAINER ----->
}